[submodule "libvmod-vsthrottle"]
	path = libvmod-vsthrottle
	url = https://github.com/varnish/libvmod-vsthrottle.git
[submodule "utf8proc"]
	path = utf8proc
	url = https://github.com/JuliaLang/utf8proc.git
