Source: vsf
Section: utils
Priority: extra
Maintainer: Kacper Wysocki <comotion@delta9.pl>
Uploaders: Stig Sandbeck Mathisen <ssm@debian.org>,
           Kacper Wysocki <comotion@delta9.pl>
Build-Depends:
 debhelper (>= 9),
 libvarnishapi-dev,
 autoconf,
 libtool,
 pkg-config,
 python-docutils,
 python | python-all | python-dev | python-all-dev,
Standards-Version: 3.9.5
Homepage: http://github.com/comotion/VSF/
Vcs-Git: git://github.com/comotion/VSF.git
Vcs-Browser: http://github.com/comotion/VSF/tree/master

Package: vsf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libvarnishapi
Description: Varnish Security Firewall
 VSF is a Web Application Firewall for Varnish.
 .
 The Varnish Security Firewall is a Web Application Firewall written
 using the Varnish Control Language and a sprinkling of Varnish Modules.
 .
 VSF aims to provide a standardized framework for security-related filters,
 several core rule-sets and a limited set of default 'handlers', 
 for instance CGI scripts to call upon when Bad Stuff happens. 
 This is done mainly by using clever VCL, and with as little impact on 
 normal Varnish Cache operation as possible. 
 The incident handlers even can be CGI-like scripts on a backend.
 .
 VSF is a flexible and scalable WAF to protect your web applications.

